
config interface 'loopback'
	option ifname 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	option ula_prefix 'fd71:9109:1b73::/48'

config interface 'lan'
	option type 'bridge'
	option proto 'static'
	option ipaddr '{{ router_ip }}'
	option netmask '255.255.255.0'
	option ip6assign '60'
	option bridge_empty '1'
	list ifname 'lan0'
	list ifname 'lan1'
	list ifname 'lan2'
	list ifname 'lan3'
	list ifname 'lan4'

config interface 'wan'
	option ifname 'eth2'
	option proto 'pppoe'
	option username '{{ pppoe_username }}'
	option password '{{ pppoe_password }}'
	option macaddr '{{ mac_addr }}'
	option peerdns '0'
	option ipv6 '0'

config interface 'wan6'
	option proto 'dhcpv6'
	option ifname '@wan'

config interface 'guest'
	option enabled '1'
	option type 'bridge'
	option proto 'static'
	option ipaddr '{{ router_guest_ip }}'
	option netmask '255.255.255.0'
	option bridge_empty '1'
