config wifi-device 'radio0'
	option type 'mac80211'
	option hwmode '11a'
	option macaddr '{{ wlan0_macaddr.content | b64decode | trim }}'
	option disabled '0'
	option channel 'auto'
	option htmode 'VHT40'
	option country 'RU'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option disabled '0'
	option ssid '{{ ssid }}5-core_optout_nomap'
	option hidden '1'
	option encryption 'psk2+ccmp'
	option wpa_group_rekey '86400'
	option key '{{ core_password }}'
	option wpa_disable_eapol_key_retries '1'

config wifi-device 'radio1'
	option type 'mac80211'
	option hwmode '11g'
	option macaddr '{{ wlan1_macaddr.content | b64decode | trim }}'
	option htmode 'HT20'
	option disabled '0'
	option channel 'auto'
	option country 'RU'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option network 'lan'
	option mode 'ap'
	option disabled '0'
	option ssid '{{ ssid }}-core_optout_nomap'
	option hidden '1'
	option encryption 'psk2+ccmp'
	option wpa_group_rekey '86400'
	option key '{{ core_password }}'
	option wpa_disable_eapol_key_retries '1'

config wifi-iface 'guest_iface_0'
	option disabled '0'
	option device 'radio0'
	option mode 'ap'
	option ssid '{{ ssid }}5_optout_nomap'
	option network 'guest'
	option encryption 'psk2+ccmp'
	option wpa_group_rekey '86400'
	option key '{{ guest_password }}'
	option ifname 'guest_0'
	option isolate '1'
	option wpa_disable_eapol_key_retries '1'

config wifi-iface 'guest_iface_1'
	option disabled '0'
	option device 'radio1'
	option mode 'ap'
	option ssid '{{ ssid }}_optout_nomap'
	option network 'guest'
	option encryption 'psk2+ccmp'
	option wpa_group_rekey '86400'
	option key '{{ guest_password }}'
	option ifname 'guest_1'
	option isolate '1'
  option wpa_disable_eapol_key_retries '1'
